
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Home</title>
</head>
    <body class="body_main">

        <div>
            <main class="home_main">
                <h1>TOME UMA ATITUDE</h1>
                <p>FALE COM NOSSO CHATBOT E DECIDA A MELHOR FORMA DE DOAR</p>
                <a href="{% url 'chat' %}">ACESSE AGORA</a>
            
            </main>
            <!-- <footer class="home_footer">
            
            </footer> -->
        </div>

    </body>
</html>